{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <image class="m-5" style="width:300px; height:300px" src="{{ user.profile.image.url }}"></image>
        </div>
        <div class="col-md-7 pt-5">
            <p class="m-3" style="font-size:30px; font-weight:bold; color:#00bda0">name: <span style="color:#fff">{{ user.username }}</span></p>
            <p class="m-3" style="font-size:30px; font-weight:bold; color:#00bda0">email: <span style="color:#fff">{{ user.email }}</span></p>
            <!-- <p class="m-5 mt-1" style="font-size:30px; font-weight:bold">pics: {{ user.count }}</p> -->
        </div>
    </div>

<hr/>
    <a href="{% url 'articles:saved' %}">
        <button class="btn btn-outline-success btn-lg mx-5 px-5">Saved</button>
    </a>
    <a href="{% url 'articles:posted_by' user.username %}">
        <button class="btn btn-outline-success btn-lg mx-5 px-5">My Pics</button>
    </a>
<hr/>
<br>
<form class="site_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ u_form|crispy }}
    {{ p_form|crispy }}
    <input class="btn btn-outline-success btn-s px-4 mt-5 m-1" type="submit" value="Update"/>
</form>
{% endblock %}