{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="create-article">
        <h2>Add New Tag</h2>
        <form class="site-form" action='.' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for tag in article.tags.all %}
                <span class="badge text-bg-success p-2 m-2" style="font-size:medium">
                    # {{ tag.tag }}
                </span>
            {% endfor %}

            <hr>
            {{form|crispy}}
            <input class="btn btn-outline-success btn-s px-4 mt-5 m-1" type="submit" value="Create"/>
        </form>
    </div>
{% endblock %}