{% extends "base.html" %}
{% block content %}
{% if object.author == request.user %}
  <div class="mb-1">
    <a type="button" href="{% url 'articles:delete' object.pk %}" class="btn btn-outline-danger m-2 btn-d">Delete</a>
    <a type="button" href="{% url 'articles:update' object.pk %}" class="btn btn-outline-success btn-s">Update</a>
  </div>
{% endif %}
<div class="article-detail">
  <div class="article">
    <img src="{{object.thumb.url}}">
    <h2>{{object.title}}</h2>
    <p>{{object.body}}</p>
    <p>{{object.date}}</p>
    <p class="author">Added By {{object.author.username}}</p>
    {% if user.is_authenticated %}
      <button class="btn btn-outline-success px-5 " id="save-button">Save</button>
    {% endif %}
  </div>
</div>
<script>
  const save_button = document.getElementById('#save-button')

  $(document).ready(function(){
      $("#save-button").on('click',function(e){
          e.preventDefault();
          $.ajax({
              type : 'POST',
              url : "{% url 'articles:save' object.pk %}",
              data : {
                posted: $('#save-button').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
              },
              success: function(response) {
                  if(request.user in pic.saved_post.all()){
                      save_button.classList.add("save-button")
                  }
              },
              error: function (xhr, errmsg, err){

              }
          });
      })
  })
</script>
{% endblock %}

