{% extends "base.html" %}
{% block content %}
{% if object.author == request.user %}
  <div class="mb-1">
    <a type="button" href="{% url 'articles:delete' object.pk %}" class="btn btn-outline-danger m-2 btn-d">Delete</a>
    <a type="button" href="{% url 'articles:update' object.pk %}" class="btn btn-outline-success">Update</a>
  </div>
{% endif %}
<div class="article-detail">
  <div class="article">
    <img src="{{object.thumb.url}}">
    <h2>{{object.title}}</h2>
    <p>{{object.body}}</p>
    <p>{{object.date}}</p>
    <p class="author">Added By {{object.author.username}}</p>
  </div>
</div>
{% endblock %}
