{% extends "base.html" %}
{% block content %}
{% if object.author == request.user %}
  <div class="mb-1">
    <a type="button" href="{% url 'articles:delete' object.pk %}" class="btn btn-outline-danger m-2 btn-d">Delete</a>
    <a type="button" href="{% url 'articles:update' object.pk %}" class="btn btn-outline-success btn-s">Update</a>
  </div>
{% endif %}
<div class="article-detail">
  <div class="article">
    <a href="{{ object.thumb.url }}">
      <img src="{{object.thumb.url}}">
    </a>
    <h2>{{object.title}}</h2>
    <p>{{object.body}}</p>
    <p>{{object.date}}</p>
    <div class="position-absolute top-90 start-50 translate-middle">
      {% for tag in object.tags.all %}
        <a href="{{ tag.get_absolute_url_tag }}"><span class="btn btn-success px-3 p-0">#{{ tag.title }}</span></a>
      {% endfor %}
    </div>

    <a href="{% url 'articles:posted_by' object.author.username %}">
      <p class="author">Added By {{object.author.username}}</p>
    </a>
    {% if user.is_authenticated %}
      {% if request.user in object.saved_pic.all %}
        <button class="btn btn-success px-5" id="save-button" style="color:#fff">Saved</button>
      {% else %}
        <button class="btn btn-outline-success px-5" id="save-button" style="color:#fff">Save</button>
      {% endif %}
    {% endif %}
  </div>
</div>
<script>
  const save_button = document.getElementById('#save-button')

  $(document).ready(function(){
      $("#save-button").on('click',function(e){
          e.preventDefault();
          $.ajax({
              type : 'POST',
              url : "{% url 'articles:save' object.pk %}",
              data : {
                posted: $('#save-button').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
              },
              success: function(response) {
                $('#save-button').html('Saved');
                $('#save-button').toggleClass('btn-success', 'btn-outline-success');
              },
              error: function (xhr, errmsg, err){

              }
          });
      })
  })
</script>
{% endblock %}

